@charset "UTF-8";




@media screen and (min-width:768px) and (max-width:992px ) {

  
  


    html, body {
        background-image: linear-gradient(to bottom, #001462, #D1E7F1);
        background-attachment: fixed;
        
    }


    


    section#login{
        width: 80vw;
       
       
    
    }

  
  section#login > div#imagem {
        width: 30%;
        height: 100%;
    
        float: left;

  }

  section#login > div#formulario {
    padding: 10px;
    width: 70%;
    float: left;
  }

  
   p#azul{
  
        background-color:#6699FF;
        border-radius: 10px;
        padding: 0px;
        width: 53vw;
        height: 40px;
        position:relative;
      
    }


    input{
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-45%, -50%);
        width: 48vw;
        height: 34px;
        border-radius: 8px;
        background-color: white;
        border: solid 2px white;
 
    }
}

@media screen and (min-width:992px) {

 html, body {
        background-image: linear-gradient(to bottom, #001462, #D1E7F1);
        background-attachment: fixed;
        
    }

    section#login {
        
        width: 950px;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right ;
        width: 50%;
    }
}