@charset "UTF-8";




@media screen and (min-width:768px) and (max-width:992px ) {

  
    *{
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
       
    }


    html, body {
        background-image: linear-gradient(to bottom, #001462, #D1E7F1);
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
    }


    
    
    section {
        background-color: white;
        border-radius: 15px;
        position: relative;
        padding: 5px;
    
    }

    section#login{
        width: 100vh;
        height: 50vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        overflow: hidden ;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.623);
    }

  
  section > div#imagem {
        background: url('../imagens/pexels-punttim-5600669.jpg') fixed no-repeat top left;
        background-size: cover;
        height:200px ;
        margin: -5px;

  }

  section#login > div#formulario {
    display: block;
    padding: 10px;
  }

  section > div#formulario > p {
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    padding: 2px;
    line-height: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Verdana, Geneva, Tahoma, sans-serif;

  }

  h1{
    margin: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.849);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.616);
  }



 p#azul{
  
        background-color:#6699FF;
        border-radius: 10px;
        padding: 0px;
        width: 200px;
        height: 40px;
        position: relative;
        margin: 3px;
  

    }
    input{
        position: absolute;
        top: 49%;
        left: 53%;
        transform: translate(-45%, -50%);
        width: 167px;
        height: 34px;
        
        border-radius: 8px;
        background-color: white;
        border: solid 2px white;
 
    
    
    }

    i{
        color: var(--cor001);
        padding-top: 5px ;
   
      
    }

    #botao{
        position: relative;
        background-color:#6699ffe1;
        border-radius: 10px;
        padding: 0px;
        width: 200px;
        height: 37px;
        color: white;
        font-weight: bolder;
        border: solid 2px #6699ffbe;
        top:33%;
        left: 19%;
        margin: 12px;
        transform: translate(-25%, -31%);
       
    }
    
    #botao:hover {
        background-color: #3e7dfc;
        transition: 0.3s;
        cursor: pointer;
    }
   

    #botao2{
        position: relative;
        border: solid 1px  #6699FF;
        border-radius: 10px;
        padding: 0px;
        width: 200px;
        height: 37px;
        color: white;
        font-weight: bolder;
        top:33%;
        left: 19%;
        transform: translate(-21%, -67%);
        color: #6699FF;
        margin: 4px;

    }

    #botao2:hover {
        background-color: #6699ff60;
        transition: 0.3s;
        cursor: pointer;
    }






}